#home {
  .home-all {
    .home-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hello-button {
        button {
          padding: 10px 20px;
          border-radius: 40px;
          font-size: 18px;
          border: 1px solid;
        }
      }
      .home-content {
        h1 {
          text-align: center;
          font-size: 70px;
          padding: 20px;
          font-weight: bold;
          span {
            color: #fd853a;
          }
        }
        .img {
          width: 30%;
          transform: rotate(-150deg);
        }
      }
    }
    .home-bottom {
      display: flex;
      // justify-content: center;
      // align-items: center;
      .questos {
        width: 15%;
        padding-top: 30px;
        img {
          width: 30px;
        }
        p {
          font-size: 20px;
          color: #344054;

        }
      }
      .image {
        position: relative;
        bottom: 150px;
        background-image: url("../Images/Frame\ 57.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 900px;
        height: 500px;
        .image-btns {
          margin-top: 400px;
          margin-left: 260px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid white;
          backdrop-filter: blur(10px);
          padding: 10px;
          column-gap: 30px;
          border-radius: 40px;
          width: 300px;
          .portfolio-btn {
            padding: 10px 20px;
            border-radius: 40px;
            border: none;
            color: white;
            font-size: 20px;
            background-color: #fd853a;
            i{
              transform: rotate(-40deg);
            }
          }
          .hire-btn {
            border-radius: 40px;
            padding: 5px 20px;
            border: none;
            color: white;
            font-size: 20px;
            background-color: transparent;
          }
        }
      }
      .star {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-end;
        width: 15%;
        padding-top: 30px;


        .fa-star {
          color: #fd853a;
          font-size: 25px;
        }
        .star-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          margin-top: 20px;
          h1 {
            font-size: 40px;
            font-weight: bold;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
