#post {
  margin-top: 100px;
  .post {
    .post-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 60px;
        color: #344054;
        font-weight: bold;
      }
      button {
        padding: 20px 40px;
        background-color: #fd853a;
        border: none;
        outline: none;
        color: white;
        font-size: 20px;
        border-radius: 40px;
      }
    }
    .post-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        border: none;
        gap: 20px;
        width: 40%;
        display: flex;
        justify-content: center;
        // align-items: flex-start;
        flex-direction: column;
        .card-bottom {
          padding: 0px 50px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          button {
            padding: 15px 40px;
            background-color: rgb(215, 241, 250);
            // width: 30%;
            border: none;
            border-radius: 20px;
          }
          .info {
            display: flex;
            gap: 20px;
            color: #344054;
            .name {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              .empty {
                width: 10px;
                height: 10px;
                border-radius: 40px;
                background-color: #fd853a;
              }
            }
            .history {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              .empty {
                width: 10px;
                height: 10px;
                border-radius: 40px;
                background-color: #fd853a;
              }
            }
          }
          p {
            font-size: 25px;
            font-weight: bold;
            color: #344054;
          }
        }
      }
    }
  }
}
