html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 40px;
}
header .header {
  background-color: black;
  padding: 10px 30px 10px 10px;
  border-radius: 40px;
}
header .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header nav ul li a {
  color: white;
  font-size: 18px;
}
header .header nav ul .button {
  padding: 20px 40px;
  background-color: #fd853a;
  border-radius: 50px;
}
header .header nav ul .button a {
  font-weight: bold;
}
header .header nav ul .min {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .header nav ul .min img {
  padding: 10px;
  background-color: #fd853a;
  border-radius: 50%;
}
header .header nav ul .min h2 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

#home .home-all .home-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .home-all .home-top .hello-button button {
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 18px;
  border: 1px solid;
}
#home .home-all .home-top .home-content h1 {
  text-align: center;
  font-size: 70px;
  padding: 20px;
  font-weight: bold;
}
#home .home-all .home-top .home-content h1 span {
  color: #fd853a;
}
#home .home-all .home-top .home-content .img {
  width: 30%;
  transform: rotate(-150deg);
}
#home .home-all .home-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-all .home-bottom .questos {
  width: 15%;
}
#home .home-all .home-bottom .questos img {
  width: 30px;
}
#home .home-all .home-bottom .questos p {
  font-size: 20px;
}
#home .home-all .home-bottom .image {
  background-image: url("../Images/Frame 57.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 300px;
}
#home .home-all .home-bottom .image .image-btns {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-radius: 40px;
  width: 300px;
}
#home .home-all .home-bottom .image .image-btns .portfolio-btn {
  padding: 5px 20px;
  border-radius: 40px;
  border: none;
  color: white;
  font-size: 20px;
  background-color: #fd853a;
}
#home .home-all .home-bottom .image .image-btns .hire-btn {
  border-radius: 40px;
  padding: 5px 20px;
  border: none;
  color: white;
  font-size: 20px;
  background-color: transparent;
}
#home .home-all .home-bottom .star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 15%;
  padding-top: 30px;
}
#home .home-all .home-bottom .star .fa-star {
  color: #fd853a;
  font-size: 25px;
}
#home .home-all .home-bottom .star .star-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#home .home-all .home-bottom .star .star-info h1 {
  font-size: 40px;
  font-weight: bold;
}
#home .home-all .home-bottom .star .star-info p {
  font-size: 20px;
}

#services {
  background-image: url("../Images/Frame 65.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding: 100px;
  border-radius: 40px;
}
#services .services .services-head {
  display: flex;
  align-items: center;
  color: white;
}
#services .services .services-head h1 {
  font-size: 40px;
  display: flex;
  gap: 10px;
}
#services .services .services-head h1 span {
  color: #fd853a;
  font-weight: bold;
}
#services .services .services-head p {
  padding: 70px;
  font-size: 30px;
}
#services .services .services-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
#services .services .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
#services .services .btns .big-btn {
  padding: 6px 18px;
  border-radius: 40px;
  background-color: #fd853a;
}
#services .services .btns .mini-btn {
  padding: 7px;
  border-radius: 40px;
  background-color: #ffffff;
}

#work {
  margin-top: 100px;
}
#work .work {
  color: #344054;
  font-family: Arial, Helvetica, sans-serif;
}
#work .work h1 {
  display: flex;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
#work .work h1 span {
  color: coral;
}
#work .work .work-herro {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#work .work .work-herro .left {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 100px;
}
#work .work .work-herro .left .info h1 {
  font-size: 30px;
  font-weight: bold;
}
#work .work .work-herro .left .info p {
  margin-top: 10px;
  font-size: 20px;
}
#work .work .work-herro .right {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
#work .work .work-herro .right .info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
#work .work .work-herro .right .info h1 {
  font-size: 30px;
  font-weight: bold;
}
#work .work .work-herro .right .info p {
  margin-top: 10px;
  font-size: 20px;
}

#hire {
  margin-top: 100px;
  background-color: rgb(234, 245, 255);
}
#hire .hire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hire .hire .hire-image {
  width: 50%;
}
#hire .hire .hire-image img {
  width: 100%;
}
#hire .hire .hire-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#hire .hire .hire-text h1 {
  display: flex;
  gap: 10px;
  color: #1d2939;
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#hire .hire .hire-text h1 span {
  color: coral;
}
#hire .hire .hire-text p {
  font-size: 28px;
  color: #667085;
}
#hire .hire .hire-text .prices {
  display: flex;
  gap: 40px;
}
#hire .hire .hire-text .prices .price h1 {
  font-size: 30px;
}
#hire .hire .hire-text .prices .price p {
  margin-top: 20px;
  font-size: 20px;
}
#hire .hire .hire-text button {
  padding: 30px 40px;
  width: 30%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
}

#portfolio {
  margin-top: 100px;
}
#portfolio .portfolio .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#portfolio .portfolio .head h1 {
  color: #344054;
  font-size: 60px;
  max-width: 600px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#portfolio .portfolio .head h1 span {
  color: coral;
}
#portfolio .portfolio .head button {
  padding: 20px 40px;
  border-radius: 40px;
  color: white;
  background-color: #fd853a;
  border: none;
  font-size: 20px;
}
#portfolio .portfolio .portfolio-cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#portfolio .portfolio .portfolio-cards .card {
  display: flex;
}
#portfolio .portfolio .portfolio-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
#portfolio .portfolio .portfolio-btns .big-btn {
  padding: 6px 18px;
  border-radius: 40px;
  background-color: #fd853a;
}
#portfolio .portfolio .portfolio-btns .mini-btn {
  padding: 7px;
  border-radius: 40px;
  background-color: #e4f5ff;
}
#portfolio .portfolio .buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#portfolio .portfolio .buttons button {
  padding: 20px 40px;
  background-color: #ebf2ff;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 30px;
}
#portfolio .portfolio .lirante {
  margin-top: 50px;
}
#portfolio .portfolio .lirante .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#portfolio .portfolio .lirante .title h1 {
  color: #344054;
  font-weight: bold;
  font-size: 50px;
}
#portfolio .portfolio .lirante .title .arrow {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd853a;
  border-radius: 50%;
}
#portfolio .portfolio .lirante .title .arrow i {
  transform: rotate(-40deg);
  color: white;
  font-size: 20px;
}
#portfolio .portfolio .lirante .text {
  text-align: center;
}
#portfolio .portfolio .lirante .text p {
  padding: 0px 180px;
  font-size: 22px;
  color: #344054;
  margin-top: 20px;
}

#results {
  background-image: url("../Images/Frame 77.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px;
  border-radius: 40px;
  margin-top: 100px;
}
#results .results .results-text {
  text-align: center;
}
#results .results .results-text .text-img {
  position: relative;
}
#results .results .results-text .text-img h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#results .results .results-text .text-img h1 span {
  color: #fd853a;
}
#results .results .results-text .text-img img {
  position: absolute;
  right: 350px;
  top: -20px;
}
#results .results .results-text p {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  padding: 0px 150px;
}
#results .results .results-cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
#results .results .results-cards .big-card {
  -webkit-backdrop-filter: invert(20%);
          backdrop-filter: invert(20%);
  width: 60%;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
#results .results .results-cards .big-card .card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#results .results .results-cards .big-card .card-top .human-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
#results .results .results-cards .big-card .card-top .human-info .info h1 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}
#results .results .results-cards .big-card .price {
  display: flex;
  align-items: center;
}
#results .results .results-cards .big-card .price .fa-star {
  color: #FD853A;
  font-size: 30px;
}
#results .results .results-cards .big-card .price p {
  color: #ffffff;
  font-size: 30px;
}
#results .results .results-cards .big-card p {
  color: white;
  font-size: 24px;
  padding: 10px 0px;
}
#results .results .results-cards .small-card {
  width: 30%;
}
#results .results .results-cards .small-card img {
  border-radius: 0px 20px 0px 20px;
}

#discuss {
  margin-top: 100px;
}
#discuss .discuss h1 {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #344054;
  font-weight: bold;
}
#discuss .discuss h1 span {
  color: #fd853a;
}
#discuss .discuss .input-button {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 30px;
}
#discuss .discuss .input-button .one {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#discuss .discuss .input-button .one .envelope {
  padding: 20px;
  border-radius: 50%;
  background-color: orange;
}
#discuss .discuss .input-button .one .envelope i {
  color: white;
  font-size: 20px;
}
#discuss .discuss .input-button .one input {
  border: none;
  outline: navajowhite;
}
#discuss .discuss .input-button .one input::-moz-placeholder {
  font-size: 20px;
}
#discuss .discuss .input-button .one input:-ms-input-placeholder {
  font-size: 20px;
}
#discuss .discuss .input-button .one input::placeholder {
  font-size: 20px;
}
#discuss .discuss .input-button button {
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  background-color: #fd853a;
}
#discuss .discuss .ratings {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#discuss .discuss .ratings .discuss-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
}
#discuss .discuss .ratings .discuss-ratings h1 {
  font-size: 20px;
}

.wireframe {
  margin-top: 100px;
  background-color: #FB6514;
  width: 100%;
}
.wireframe img {
  width: 100%;
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */